# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules
/client/node_modules

Add CommentClick to expand inline (23 lines)
Message Input

Message Will Fisher, louisboehling, Luke Myers

Thread
Samantha Olvera, Yuri, and Jw

