@font-face {
    font-family: MoonLight;
    src: url(../../assets/fonts/Moon2.0-Light.otf);
}

h1#jumbotronHeader {
    font-family: 'MoonLight';
    position: relative;
    top: 3vh;
    color: white;
}

.jumbotron {
    background: url("../../assets/images/cosmic.jpg");
}

#jumbotronChildren {
    height: 180px;
    padding-bottom: 5vh;
}
