img#sadunicorn {
max-width: 50vh;
overflow: auto;
}

/* .footer {
    visibility: hidden;
} */

@media only screen and (min-height: 1440px) {
    img#sadunicorn {
        max-width: 30vh;
        overflow: auto;
        }
}