body {
    margin: auto;
    align-content: center;
    text-align: center;
    height: auto;
    background-color: white;
    max-width: 100%;
}

#landingPage {
    background: linear-gradient(180deg, rgba(204,204,204,1) 24%, rgba(143,143,143,0) 45%);
    background-color: white;
    height: auto;
}

#signupButton {
    margin-bottom: 3vh;
}

button#loginButton {
    position: relative;
    left: 1vh;
}

#loginTitle {
    margin: 30px 10px 10px 10px;
}

#loginSubheading {
    margin: 10px 10px 30px 10px;
}