body {
    margin: auto;
    align-content: center;
    text-align: center;
    height: auto;
    background-color: white;
}

#landingPage {
    background: linear-gradient(180deg, rgba(204,204,204,1) 24%, rgba(143,143,143,0) 45%);
    background-color: white;
    height: auto;
}

#signupButton {
    margin-bottom: 3vh;
}

h3 {
    position: relative;
    top: 2vh;
}