.firstSection {
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

#body1 {
    text-align: left;
}

.image1 {
    width: 100%;
}

#loginButton {
    padding: none;
    margin: 20px 10px 10px -10px;
}

#mainText {
}

#secondaryText {
    font-size: 12px;
    line-height: 120%;
    padding-top: 20px;
}

.firstSection h1 {
    color: rgb(75, 213, 255);
    font-family: 'Roboto';
}

.secondSection {
    background: url("../../assets/images/cosmic.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
}

.secondSection h1 {
    color: rgb(75, 213, 255);
}

.thirdSection {
    background: #808080;
    padding-top: 100px;
    padding-bottom: 100px;
}

.employerImg {
    width: 50%;
}

.employeeImg {
    width: 50%;
}