.nav {
    width: 100vh;
}

li, a#navbarDropdown {
    margin-right: 10px;
    float: right;
}

nav.navbar.navbar-default, a#navbarDropdown {
    margin-bottom: 0;
  }
  
  nav a, a#navbarDropdown {
  color: #f590fb;
  }
  
  nav a:hover, a#navbarDropdown:hover {
  color: #00dbff;
  }
  
  nav a:active, a#navbarDropdown {
    color: linear-gradient(270deg, #00dbff, #d9d9d9, #f590fb);
  }

  a#navbarDropdown {
    padding: 0;
}